// Couleurs
$primary: #2563eb; // bleu
$secondary: #64748b; // gris neutre
$success: #22c55e;
$danger: #ef4444;
$warning: #f59e0b;
$light: #f9fafb;
$dark: #111827;
$grey-font-color:  #1f2937;




// Import les variables de Bootstrap pour qu’elles soient remplacées
